@charset "utf-8";

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('css/font/NanumMyeongjo.eot');
    src: url('css/font/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
        url('css/font/NanumMyeongjo.woff2') format('woff2'),
        url('css/font/NanumMyeongjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('css/font/NanumMyeongjo.eot');
    src: url('css/font/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
        url('css/font/NanumMyeongjo.woff2') format('woff2'),
        url('css/font/NanumMyeongjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('css/font/NanumMyeongjoBold.eot');
    src: url('css/font/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
        url('css/font/NanumMyeongjoBold.woff2') format('woff2'),
        url('css/font/NanumMyeongjoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMyeongjoExtraBold';
    src: url('css/font/NanumMyeongjoExtraBold.eot');
    src: url('css/font/NanumMyeongjoExtraBold.eot?#iefix') format('embedded-opentype'),
        url('css/font/NanumMyeongjoExtraBold.woff2') format('woff2'),
        url('css/font/NanumMyeongjoExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #fff;
    font-family: 'NanumMyeongjo';
    font-weight: normal;
    min-width: 1920px;
    width: 100%;
}

.main_visual {
    width: 100%;
    height: 960px;
    background: url('../img/main_visual_opacity.jpg') center / cover no-repeat;
}

.main_visual header {
    width: 100%;
    position: relative;
    z-index: 1;
}
.main_visual header .header_top {
    width: 100%;
    height: 60px;
    background-color: hsla(0, 0%, 0%, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.main_visual header .header_top .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.main_visual header .header_top .inner .lang {
    position: absolute;
    top: 50%;
    right: 85px;
    transform: translateY(-50%);
}
.main_visual header .header_top .inner .lang img {
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit: cover;
    vertical-align: bottom;
}
.main_visual header .header_top .inner .lang p {
    display: inline;
    margin-left: 5px;
    font-size: 16px;
}
.main_visual header .header_top .inner .bonvoy {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.main_visual header .header_top .inner .bonvoy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual header .header_bottom {
    width: 100%;
    height: 100px;
    background-color: hsla(0, 0%, 0%, 0.6);
    border-top: 1px solid hsla(0, 0%, 100%, 0.5);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    position: absolute;
    top: 60px;
    left: 0;
}
.main_visual header .header_bottom .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.main_visual header .header_bottom .inner .open {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.main_visual header .header_bottom .inner .open img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual header .header_bottom .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_visual header .header_bottom .inner h1 a {
    display: inline-block;
    width: 162.67px;
    height: 60px;
}
.main_visual header .header_bottom .inner h1 a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual header .header_bottom .inner .book {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.main_visual header .header_bottom .inner .book img {
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit: cover;
    vertical-align: bottom;
}
.main_visual header .header_bottom .inner .book p {
    display: inline;
    margin-left: 5px;
    font-size: 20px;
}

.main_visual .cont01 {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.main_visual .cont01 .text_main {
    text-align: center;
    padding: 400px 0;
}
.main_visual .cont01 .text_main img {
    width: 60px;
    height: 60px;
    object-fit: fill;
}
.main_visual .cont01 .text_main h2 {
    font-size: 40px;
    margin: 40px 0;
    font-weight: normal;
}
.main_visual .cont01 .text_main p {
    font-size: 22px;
}
.main_visual .cont01 .left {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 420px;
    border-radius: 50%;
}
.main_visual .cont01 .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .cont01 .right {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 420px;
    border-radius: 50%;
}
.main_visual .cont01 .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .cont01 .left:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
}
.main_visual .cont01 .right:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
}





.main_visual .menu_depth {
    width: 100%;
    height: 660px;
    background-color: hsla(29, 14%, 43%, 0.95);
    border-radius: 0 0 50% 50%;
    position:absolute;
    top: 100px;
    left: 0;
    display: none;
}
.main_visual .menu_depth .inner2 {
    text-align: center;
}
.main_visual .menu_depth .inner2 ul {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 30px;
}
.main_visual .menu_depth .inner2 ul li {
    font-size: 16px;
    line-height: 2;
}
.main_visual .menu_depth .inner2 ul li:first-child {
    font-size: 20px;
    margin: 20px 0;
}
.main_visual .menu_depth .inner2 ul li a {}

.main_visual .menu_depth .inner2 ul li a:hover {
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.6);
}

.main_visual header .header_bottom .inner .menu_open:hover .menu_depth {
    display: block;
}
.menu_open {
    width: 30px;
    height: 100%;
}





.section01 {
    width: 100%;
    height: 960px;
    background-color: #7C6C5D;
    padding-top: 100px;
}
.section01 .list_left {
    height: 320px;
    margin-bottom: 120px;
}
.section01 .list_left .cont01 {
    width: 1440px;
    margin: 0 auto;
}
.section01 .list_left .cont01 ul {
    display: flex;
    justify-content: space-between;
}
.section01 .list_left .cont01 ul li {
    width: 342px;
    height: 320px;
    position: relative;
}
.section01 .list_left .cont01 ul li .title {
    width: 100%;
    height: 100%;
}
.section01 .list_left .cont01 ul li .title h3 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: normal;
}
.section01 .list_left .cont01 ul li .title p {
    font-size: 22px;
    line-height: 1.3;
    color: hsla(0, 0%, 100%, 0.7)
}
.section01 .list_left .cont01 ul li .title .left {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 60px;
    bottom: 0;
    border-radius: 50%;
}
.section01 .list_left .cont01 ul li .title .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section01 .list_left .cont01 ul li .title .right {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.section01 .list_left .cont01 ul li .title .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section01 .list_left .cont01 ul li .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-top: 2px solid hsla(0, 0%, 100%, 0.5);
    transition: 0.7s;
}
.section01 .list_left .cont01 ul li .item h4 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 1.2;
}
.section01 .list_left .cont01 ul li .item img {
    width: 100%;
    height: 228px;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.section01 .list_right {
    height: 320px;
    margin: 120px 0 100px;
}
.section01 .list_right .cont01 {
    width: 1440px;
    margin: 0 auto;
}
.section01 .list_right .cont01 ul {
    display: flex;
    justify-content: space-between;
}
.section01 .list_right .cont01 ul li {
    width: 342px;
    height: 320px;
    position: relative;
}
.section01 .list_right .cont01 ul li .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-top: 2px solid hsla(0, 0%, 100%, 0.5);
    transition: 0.7s;
}
.section01 .list_right .cont01 ul li .item h4 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 1.2;
}
.section01 .list_right .cont01 ul li .item img {
    width: 100%;
    height: 228px;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.section01 .list_right .cont01 ul li .title {
    width: 100%;
    height: 100%;
}
.section01 .list_right .cont01 ul li .title h3 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: normal;
}
.section01 .list_right .cont01 ul li .title p {
    font-size: 22px;
    line-height: 1.3;
    color: hsla(0, 0%, 100%, 0.7)
}
.section01 .list_right .cont01 ul li .title .left {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
}
.section01 .list_right .cont01 ul li .title .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section01 .list_right .cont01 ul li .title .right {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 60px;
    bottom: 0;
    border-radius: 50%;
}
.section01 .list_right .cont01 ul li .title .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section01 .list_left .cont01 ul li .item:hover {
    transform: translateY(-15px);
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.2);
}
.section01 .list_right .cont01 ul li .item:hover {
    transform: translateY(-15px);
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.2);
}

.section01 .cont01 ul li .title .left:hover {
    background-color: hsla(0, 0%, 0%, 0.3);
}
.section01 .cont01 ul li .title .right:hover {
    background-color: hsla(0, 0%, 0%, 0.3);
}





.section02 {
    width: 100%;
    height: 960px;
    background-color: #7C6C5D;
    padding-top: 100px;
}
.section02 .list_left {
    height: 320px;
    margin-bottom: 120px;
}
.section02 .list_left .cont01 {
    width: 1440px;
    margin: 0 auto;
}
.section02 .list_left .cont01 ul {
    display: flex;
    justify-content: space-between;
}
.section02 .list_left .cont01 ul li {
    width: 342px;
    height: 320px;
    position: relative;
}
.section02 .list_left .cont01 ul li .title {
    width: 100%;
    height: 100%;
}
.section02 .list_left .cont01 ul li .title h3 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: normal;
}
.section02 .list_left .cont01 ul li .title p {
    font-size: 22px;
    line-height: 1.3;
    color: hsla(0, 0%, 100%, 0.7)
}
.section02 .list_left .cont01 ul li .title .left {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 60px;
    bottom: 0;
    border-radius: 50%;
}
.section02 .list_left .cont01 ul li .title .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section02 .list_left .cont01 ul li .title .right {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.section02 .list_left .cont01 ul li .title .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section02 .list_left .cont01 ul li .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-top: 2px solid hsla(0, 0%, 100%, 0.5);
    transition: 0.7s;
}
.section02 .list_left .cont01 ul li .item h4 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 1.2;
}
.section02 .list_left .cont01 ul li .item img {
    width: 100%;
    height: 228px;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.section02 .list_right {
    height: 320px;
    margin: 120px 0 100px;
}
.section02 .list_right .cont01 {
    width: 1440px;
    margin: 0 auto;
}
.section02 .list_right .cont01 ul {
    display: flex;
    justify-content: space-between;
}
.section02 .list_right .cont01 ul li {
    width: 342px;
    height: 320px;
    position: relative;
}
.section02 .list_right .cont01 ul li .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-top: 2px solid hsla(0, 0%, 100%, 0.5);
    transition: 0.7s;
}
.section02 .list_right .cont01 ul li .item h4 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 1.2;
}
.section02 .list_right .cont01 ul li .item img {
    width: 100%;
    height: 228px;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.section02 .list_right .cont01 ul li .title {
    width: 100%;
    height: 100%;
}
.section02 .list_right .cont01 ul li .title h3 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: normal;
}
.section02 .list_right .cont01 ul li .title p {
    font-size: 22px;
    line-height: 1.3;
    color: hsla(0, 0%, 100%, 0.7)
}
.section02 .list_right .cont01 ul li .title .left {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
}
.section02 .list_right .cont01 ul li .title .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section02 .list_right .cont01 ul li .title .right {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 60px;
    bottom: 0;
    border-radius: 50%;
}
.section02 .list_right .cont01 ul li .title .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section02 .list_left .cont01 ul li .item:hover {
    transform: translateY(-15px);
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.2);
}
.section02 .list_right .cont01 ul li .item:hover {
    transform: translateY(-15px);
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.2);
}

.section02 .cont01 ul li .title .left:hover {
    background-color: hsla(0, 0%, 0%, 0.3);
}
.section02 .cont01 ul li .title .right:hover {
    background-color: hsla(0, 0%, 0%, 0.3);
}





footer {
    width: 100%;
    height: 400px;
    background-color: hsla(0, 0%, 0%, 0.8);
    color: hsla(0, 0%, 100%, 0.5);
}
footer .cont01 {
    width: 1440px;
    margin: 0 auto;
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
}
footer .cont01 .footer_left {}
footer .cont01 .footer_left h5 {
    font-size: 30px;
    font-weight: normal;
}
footer .cont01 .footer_left h5 a {}
footer .cont01 .footer_left ul {
}
footer .cont01 .footer_left ul:nth-child(2) {
    margin: 40px 0 20px;
}
footer .cont01 .footer_left ul li {
    display: inline-block;
    font-size: 18px;
    padding: 0 20px;
    border-right: 1px solid hsla(0, 0%, 100%, 0.5);
}
footer .cont01 .footer_left ul li:first-child {
    padding-left: 0;
}
footer .cont01 .footer_left ul li:last-child {
    border-right: none;
}
footer .cont01 .footer_left ul li a {}

footer .cont01 .footer_right {}
footer .cont01 .footer_right .instagram {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 40px;
    border-radius: 13px;
}
footer .cont01 .footer_right .instagram img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
footer .cont01 .footer_right .facebook {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
footer .cont01 .footer_right .facebook img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
footer .cont01 .footer_right p {
    font-size: 18px;
    margin: 40px 0;
}
footer .cont01 .footer_right p:last-child {
    margin-bottom: 0;
}

footer .cont01 ul li a:hover {
    color: hsla(0, 0%, 100%, 0.8);
}

footer .cont01 .footer_right .instagram:hover {
    background-color: #7C6C5D;
}
footer .cont01 .footer_right .facebook:hover {
    background-color: #7C6C5D;
}